.form-input {
  background-clip: padding-box;
  background-color: #fff;
  background-image: none;
  border-radius: .25rem;
  border: 1px solid #ced4da;
  color: #495057;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  width: 100%;
}
